*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --green:rgb(0, 255, 179);
    --intenseGreen:rgb(16, 119, 88);

}

body{
    background-color: var(--green);
	height: max(800px, 820px);
	width: max(1000px, 1900px);
}

#container{
    position: relative;
	height: max(800px, 820px);
	width: max(1000px, 1020px);
}

#left {
	height: max(800px, 820px);
	width: max(600px, 660px);
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
}

#left > .left {
    position: absolute;
}

img{
	height: max(800px, 820px);
	width: max(600px, 660px);
    position: absolute;
}

#right{
    position: absolute;
    top: 90px;
    left: 470px;
    width: max(900px, 1000px);
    height: max(600px, 600px);
    display: flex;
}

.logo, .logo > p{
    width: inherit;
    display: flex;
}

.logo{
    background-color: var(--green);
    opacity: 0.7;
    position: absolute;
    top: 180px;
    height: max(230px, 240px);
}

.logo > p{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 2px solid red;
    height: max(150px, 150px);
    font-size: 3rem;
}

.signUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: max(900px, 1000px);
    height: max(600px, 600px);

}

.signUp > .slideBarContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: max(900px, 1000px);
    height: max(80px, 100px);
}

.signUp > .slideBarContent > .slideBarDirection{
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    border: 2px solid yellow;
    height: max(40px, 60px);
    width: max(350px, 370px);
    background-color: red;
}

.signUp > .contentForm > p{
    color: var(--green);
    font-size: 1.5rem;
}

.signUp > .contentForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: 2px solid yellow;
    background-color: black;
    height: max(880px, 900px);
    width: max(900px, 1000px);
}

.signUp > .contentForm > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: 2px solid red;
    background-color: yellowgreen;
    height: max(300px, 400px);
    width: max(950px, 950px);
}

.signUp > .contentForm > form > .form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    border: 2px solid red;
    height: max(80px, 100px);
    width: max(950px, 950px);
}

.signUp > .contentForm > form > .form > input {
    display: flex;
    justify-content: space-between;  
    align-self: center;
   
    /* margin-bottom: 30px; */
    border: 2px solid red;
    /* width: 30%;
    height: 70%; */
    height: max(70px, 70px);
    width: max(350px, 400px);
    padding: 15px;
    border-radius: 25px;
}

.signUp > .contentForm > form > p{
    color: var(--green);
    border: 2px solid magenta;
}

/* calc(), min(), max(), and clamp()  */

/*slidebar begin-----------------------------------------------*/

.switch {
    position: relative;
    display: inline-block;
    width: 380px;
    height: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content:'';
    height: 50px;
    width: 50px;
    left: 360px;
    bottom: -20px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 10px lime;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(-380px);
    -ms-transform: translateX(-400px);
    transform: translateX(-380px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

 /*slidebar end-----------------------------------------------*/
