* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --gray: rgb(150, 150, 150);
    --grayLight: rgb(211, 187, 187);
    --grayDark: rgb(94, 93, 93);
    --intenseYellow: rgb(255, 238, 0);
    --lightYellow:rgb(255, 253, 231);
    box-sizing: border-box;

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid blue;
  


    background-color: antiquewhite;
    font-family: "Madimi One", sans-serif;
    
}

/* HEADER */
header {
    height: 225px;
    width: 100%;
    position: sticky;
    top: 0;
    /* border: 1px solid magenta; */
}

header div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-size: 1.2em;
}

/* PROMOTIONS SECTIONS */

header > div.promotions{
    height: 25px;
    animation-name: bannerPromo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bannerPromo {
    10%   {background-color: peachpuff;}
    25%  {background-color: yellow;}
    50%  {background-color: orange;}
    50%  {background-color: orange;}
    100% {background-color: orangered;}   
}

/* SEARCH BAR AND ACCOUNT SECTION */

header > div.searchAndAccount {
    background-color: aliceblue;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 60px;
    /* border:1px solid red; */
}

.searchAndAccount div{
    font-size: 1.3rem;
    margin: 3px;
    height: 75px;
    /* border:1px solid red; */

 
}

.searchAndAccount i{
    border:1px solid blue;
    font-size: 40px;
    margin: 5px;
  
}

/* *LOGO* */
.searchAndAccount > .logo {
    width: 410px;
    /* letter-spacing: 10px; */
    background-color: rgb(155, 253, 253);
    color: rgb(109, 21, 21);
    padding: 15px;
    /* border:1px solid transparent; */


    /* font-size: 40px;  ---------------NOT WORKING */
}

.searchAndAccount > .logo > h1{
    /* width: 460px; */
    font-size: 40px;
    border: 1px solid red;
    color: rgb(109, 21, 21);
    letter-spacing: 12px;


}

.searchContainer{
    width: 750px;
}

/* * SEARCH BAR  * */

.searchContainer > form {
    width: 100%;
    height: inherit;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px;
    background-color: rgb(236, 236, 236);


}

.searchContainer > form > input[type='text']{
    border: none;
    position: absolute;
    top: 50px;
    left: 660px;
    height: 70px;
    background-color: transparent;
    width: 35%;
}

.searchContainer > form > input[type='text']:focus{
    outline: none;
}

.searchContainer > form > input[type='text']::placeholder{
    position: absolute;
    padding-left: 10px;
    top: 20px;
    font-size: 30px;

    /* top: 90px; */

}

.searchContainer > form > button[type='submit'] > i.fa-search {
    border: none;
    position: absolute;
    top: 57px;
    left: 610px;
    font-size: 45px;

}

.searchContainer > form > span.deleteInputInfo{
    /* border: 1px solid magenta; */
    position: absolute;
    padding-right: 10px;
    top: 65px;
    left: 1220px;
    font-size: 30px;
    /* width: 350px; */
}


/* STORES SECTION */

.stores{
    width: 140px;
    padding: 5px;
    border: 1px solid aqua;

  
}

/* USER ACCOUNT */

.userAccount{
    width: 150px;
    padding: 5px;
    border: 1px solid aqua;

}

.favouriteProducts{
    width: 50px;  
    border: 1px solid aqua;

}

.shoppingCart{
    width: 50px;
    border: 1px solid aqua;

}

/* NAV BAR SECTION */
header > nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid green; */
    padding: 10px;
    height: 100px;
    background-color: aqua;
    list-style-type: none;

}

header > nav > ul > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border: 1px solid blue;
    background-color: black;
    color: wheat;

}

.textDemo{
    width: 500px;
}
/* section.coffeeContent{
    display: flex;
    flex-direction: column;
} */

/* ul.coffeeContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid red;
    margin:20px;
    padding: 20px;
} */

/* form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: var(--gray);
    border: 2px solid var(--grayDark);
    border-radius: 2%;
    height: 1100px;
} */

/* legend{
    margin: 5px;
} */

/* #intro{
    width: inherit;
    height: inherit;

} */

/* #first{
    border: 1px solid var(--grayDark);
    background-color: var(--grayLight);
    width: 950px;
    height: 170px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;

} */

/* #second {
    display: flex;
    width: 950px;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
} */

/* #secondPurchase, #secondPros, #secondCons {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grayDark);
    background-color: var(--grayLight);
    width: 950px;
    height: 260px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
} */

/* #purchase, #pros, #cons {
    height: 220px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid var(--grayDark);
   
} */

 /* Chrome/Opera/Safari */
/* ::-webkit-input-placeholder { 
    white-space:pre-line;  
    position:relative;
    top:-80px;
    padding: 20px;
} */

 /* Firefox 19+ */
/* ::-moz-placeholder { 
    white-space:pre-line;  
    position:relative;
    top:-80px;
    padding: 20px;
} */

/* #third, #fourth, #fifth, #sixth, #seventh, #eighth, #ninth{
    border: 1px solid var(--grayDark);
    background-color: var(--grayLight);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 950px;
    height: 80px;   
} */

/* .fa {
    color: var(--lightYellow);   
} */
  
/* .fa:hover {
    color: var(--intenseYellow);

} */

/* #sixth{
    height: 60px;    
} */

/* #seventh{
    height: 50px; 
} */

/* #eighth{
    height: 60px; 

} */

/* #ninth{
    height: 60px; 
} */

/* input[type='submit']{
    position: absolute;
    top: 1770px;
    left: 825px;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    border: 2px solid var(--grayDark);
} */

/* footer{
    border: 2px solid green;
    margin-top: 100px;
} */