* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --gray: rgb(150, 150, 150);
    --grayLight: rgb(211, 187, 187);
    --grayDark: rgb(94, 93, 93);
    --intenseYellow: rgb(255, 238, 0);
    --lightYellow:rgb(255, 253, 231);


}

body{
    width: 1900px;
    /* height: 1000px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section.coffeeContent{
    display: flex;
    flex-direction: column;
}

ul.coffeeContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid red;
    margin:20px;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: var(--gray);
    border: 2px solid var(--grayDark);
    border-radius: 2%;
    height: 1100px;
    /* width: 970px; */
}

legend{
    margin: 5px;
}

#intro{
    width: inherit;
    height: inherit;
    /* border: 2px solid red; */

}

#first{
    border: 1px solid var(--grayDark);
    background-color: var(--grayLight);
    width: 950px;
    height: 170px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;

}

#second {
    display: flex;
    width: 950px;
    height: 300px;
    /* border: 1px solid var(--grayDark); */
    /* background-color: var(--grayLight); */
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#secondPurchase, #secondPros, #secondCons {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grayDark);
    background-color: var(--grayLight);
    width: 950px;
    height: 260px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#purchase, #pros, #cons {
    height: 220px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid var(--grayDark);
    /* margin: 10px; */
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    white-space:pre-line;  
    position:relative;
    top:-80px;
    padding: 20px;
}

::-moz-placeholder { /* Firefox 19+ */
    white-space:pre-line;  
    position:relative;
    top:-80px;
    padding: 20px;
}

#third, #fourth, #fifth, #sixth, #seventh, #eighth, #ninth{
    border: 1px solid var(--grayDark);
    background-color: var(--grayLight);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 950px;
    height: 80px;   
}

.fa {
    color: var(--lightYellow);   
}
  
.fa:hover {
    color: var(--intenseYellow);

}

#sixth{
    height: 60px;    
}

#seventh{
    height: 50px; 
}

#eighth{
    height: 60px; 

}

#ninth{
    height: 60px; 
}

input[type='submit']{
    position: absolute;
    top: 1770px;
    left: 825px;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    border: 2px solid var(--grayDark);
}

footer{
    border: 2px solid green;
    margin-top: 100px;
}